body {
    margin: 0;
    padding: 0;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}

.calculator-body {
    margin: 40px 0 0 0;
    padding: 0;
    flex: none;
    display: flex;
    flex-flow: column nowrap;
    height: 600px;
    width: 400px;
    background-color: white;
    border: 15px double black;
    border-radius: 23px 23px 36px 36px;
}

.display-background {
    margin: 0;
    padding: 0;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34%;
    width: 100%;
    background-color:rgb(188, 199, 212);
    border-radius: 8px 8px 0 0;
}
.display {
    display: flex;
    align-items: center;
    background-color: rgb(189, 197, 189);
    height: 50%;
    width: 80%;
    border: 10px inset;
    padding: 0 12px;
}
.display-text {
    flex: 1;
    font-size: 2em;
    text-align: right;
    overflow: auto;
}

.keypad-background {
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 200, 191);
    height: 66%;
    width: 100%;
    border-radius: 0 0 21px 21px;
}
.keypad {
    background-color: grey;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    gap: 3%;
    height: 85%;
    width: 85%;
}
.keypad button {
    font-size: 2em;
    height: 55px;
    width: 70px;
    border: none;
    margin: 0;
    padding: 0;
    flex: none;
    background-color: white;
    border-radius: 7px;
    box-shadow: inset 5px 5px 4px rgb(194, 193, 193), inset -5px -5px 4px rgb(194, 193, 193);
}
.keypad button:hover {
    background-color:rgb(223, 223, 223);
}
#clear-key,
#backspace-key {
    width: 158px;
    margin-left: auto;
    margin-right: 4px;
    background-color: rgb(253, 208, 208);
    box-shadow: inset 5px 5px 4px rgb(192, 124, 124), inset -5px -5px 4px rgb(192, 124, 124);
}
#clear-key:hover,
#backspace-key:hover {
    background-color:rgb(252, 168, 168)
}

#add-key,
#subtract-key,
#multiply-key,
#divide-key,
#equals-key {
    background-color: rgb(215, 250, 210);
}
#add-key:hover,
#subtract-key:hover,
#multiply-key:hover,
#divide-key:hover,
#equals-key:hover {
    background-color: rgb(160, 229, 149)
}